@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;1,400;1,700&display=swap");
@media (max-width: 400px) {
  html {
    width: 100vw;
    font-size: 6px; }
  nav .right ul {
    width: 50vw !important;
    justify-content: space-between !important;
    font-size: 2rem !important; }
  .content h4 {
    font-size: 15px !important;
    line-height: 5rem !important; }
  .about {
    height: 100% !important;
    box-sizing: border-box;
    flex-direction: column !important;
    font-size: medium !important;
    padding-top: 0px;
    justify-content: space-around !important;
    margin: 0 0 !important; }
    .about .education {
      width: 90vw !important;
      margin: 0 auto !important; }
    .about .education ul {
      line-height: 3rem !important; }
    .about .skills div {
      padding: 1rem 1rem !important;
      width: auto;
      height: auto; }
  .work {
    padding-top: 0px !important;
    flex-direction: column;
    justify-content: space-around !important; }
    .work h3 {
      font-size: medium; }
    .work img {
      height: 20vh !important;
      width: 50vw !important; }
    .work a {
      display: block !important;
      width: 12vw;
      margin-left: 50%;
      transform: translate(-50%, 0); }
  .contact {
    padding-top: 8rem; }
    .contact .gmail {
      padding-top: 4rem; }
      .contact .gmail h3 {
        font-size: large; }
  .contact-details {
    padding-top: 20rem; }
    .contact-details ul {
      flex-direction: column !important;
      align-items: center !important; }
      .contact-details ul img {
        margin-top: 4rem !important; }
  hr {
    margin-left: 29vw !important;
    width: 40vw !important; }
  footer {
    padding: 2rem !important;
    font-weight: normal !important;
    height: 2rem !important; }
    footer span {
      font-weight: normal !important;
      font-size: 7px !important; } }

.basic, *, html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  font-family: "PT Serif", serif; }

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden; }

.width-height, header, .about-text, .work-content, .contact {
  height: 100vh;
  width: 100vw; }

button {
  outline: none; }

header {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  header nav {
    width: 80vw;
    padding-top: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    header nav .left img {
      width: 5rem;
      border: solid;
      border-radius: 50%; }
    header nav .right ul {
      width: 40vw;
      margin-right: 5rem;
      display: flex;
      list-style-type: none;
      justify-content: space-between; }
      header nav .right ul li a {
        transition: all 0.2s;
        color: #ffffff;
        text-decoration: none; }
        header nav .right ul li a:hover {
          color: #7fb6c9; }
  header .content {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%); }
    header .content h4 {
      text-align: center;
      font-size: 25px;
      color: #ffffff;
      line-height: 3rem; }
      header .content h4:before {
        display: block;
        content: "I am Mayur Goyal"; }
      header .content h4:after {
        display: block;
        content: "Full Stack Developer"; }
    header .content button {
      margin-top: 2rem;
      margin-left: 4rem;
      padding: 0.5rem;
      background-color: #7fb6c9;
      border: solid #161616;
      border-radius: 5rem;
      cursor: pointer; }

.about-text {
  padding-top: 5rem;
  text-align: center;
  box-sizing: border-box; }
  .about-text .about {
    align-items: center !important;
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    align-items: center; }
    .about-text .about .skills-column {
      text-align: center; }
      .about-text .about .skills-column h2 {
        padding-bottom: 5rem; }
    .about-text .about .skills {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-gap: 20px;
      margin-right: 2rem; }
      .about-text .about .skills div {
        transition: all 0.2s;
        border: solid #161616 1px;
        padding: 1rem 1rem;
        background-color: #7fb6c9;
        text-align: center; }
        .about-text .about .skills div:hover {
          background-color: #0baee4; }
    .about-text .about .education {
      border: solid white;
      padding: 1rem 3rem;
      border-radius: 5%;
      border-left-color: red;
      text-align: center;
      background-color: #7fb6c9; }
      .about-text .about .education ul {
        font-size: large;
        font-weight: 900;
        line-height: 3rem;
        margin: 3.5rem;
        list-style-type: none;
        text-decoration: none; }
      .about-text .about .education:hover {
        background-color: #0baee4; }
  .about-text .about-text {
    text-align: center; }
  .about-text hr {
    border: solid red;
    margin-top: 2rem;
    width: 40vw;
    margin-left: 30vw; }

.work-content {
  text-align: center;
  background-color: #7fb6c9;
  padding-top: 2rem;
  box-sizing: border-box; }

.work {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding-top: 2rem;
  background-color: #7fb6c9; }
  .work div {
    text-align: center;
    margin-left: 2rem; }
    .work div h3 {
      padding-top: 2rem; }
    .work div hr {
      margin-bottom: 2rem;
      margin: 1rem 0rem 2rem 70px;
      width: 70%;
      border: solid #fe5f1e; }
    .work div img {
      transition: all 0.2s;
      width: 80%;
      height: 40vh;
      border: solid #7fb6c9 1px;
      border-left-color: #0baee4;
      border-radius: 5%; }
      .work div img:hover {
        transform: scale(1.1); }
    .work div a {
      display: inline-block;
      text-decoration: none;
      color: #161616;
      font-weight: 900;
      padding: 0.5rem;
      background-color: #ffffff;
      border: solid red 0px;
      border-radius: 10%;
      margin-top: 1rem; }
      .work div a:hover {
        background-color: #fe5f1e; }

.contact {
  background-color: #161616; }
  .contact h2 {
    padding-top: 2rem;
    color: #ffffff;
    text-align: center; }
  .contact .gmail img {
    cursor: pointer;
    width: 5rem;
    margin-left: 50%;
    margin-top: 4rem;
    transform: translate(-50%, -50%); }
  .contact .gmail h3 {
    visibility: hidden;
    text-align: center;
    color: #ffffff; }
  .contact .contact-details {
    padding: 2rem 0rem; }
    .contact .contact-details ul {
      margin-top: 2rem;
      display: flex;
      justify-content: space-around; }
      .contact .contact-details ul li {
        list-style-type: none; }
      .contact .contact-details ul img {
        cursor: pointer;
        transition: all 0.2s;
        width: 5rem; }
        .contact .contact-details ul img:hover {
          transform: scale(1.5); }

footer {
  display: flex;
  justify-content: space-between;
  background-color: #fe5f1e;
  padding: 2rem;
  height: 5rem; }
  footer span {
    font-size: large;
    font-weight: bold; }
