@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;1,400;1,700&display=swap");
@import "./variables.scss";
@import "./devices.scss";

.basic {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  @extend .basic;
  font-family: "PT Serif", serif;
}

html,
body {
  @extend .basic;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.width-height {
  height: 100vh;
  width: 100vw;
}

button {
  outline: none;
}
header {
  position: relative;
  @extend .width-height;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  nav {
    width: 80vw;
    padding-top: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .left {
      img {
        width: 5rem;
        border: solid;
        border-radius: 50%;
      }
    }

    .right {
      ul {
        width: 40vw;
        margin-right: 5rem;
        display: flex;
        list-style-type: none;
        justify-content: space-between;

        li a {
          transition: all 0.2s;
          color: $white;
          text-decoration: none;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }

  .content {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    h4 {
      text-align: center;
      font-size: 25px;
      color: $white;
      line-height: 3rem;

      &:before {
        display: block;
        content: "I am Mayur Goyal";
      }
      &:after {
        display: block;
        content: "Full Stack Developer";
      }
    }

    button {
      margin-top: 2rem;
      margin-left: 4rem;
      padding: 0.5rem;
      background-color: $primary;
      border: solid $dark;
      border-radius: 5rem;
      cursor: pointer;
    }
  }
}

.about-text {
  @extend .width-height;
  padding-top: 5rem;
  text-align: center;
  box-sizing: border-box;
  .about {
    align-items: center !important;
    .skills-column {
      text-align: center;
      h2 {
        padding-bottom: 5rem;
      }
    }
    .skills {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-gap: 20px;
      div {
        transition: all 0.2s;
        border: solid $dark 1px;
        padding: 1rem 1rem;
        background-color: $primary;
        text-align: center;

        &:hover {
          background-color: $primary-dark;
        }
      }
      margin-right: 2rem;
    }

    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    align-items: center;

    .education {
      border: solid white;
      padding: 1rem 3rem;
      border-radius: 5%;
      border-left-color: red;
      text-align: center;
      background-color: $primary;

      ul {
        font-size: large;
        font-weight: 900;

        line-height: 3rem;
        margin: 3.5rem;

        list-style-type: none;
        text-decoration: none;
      }
      &:hover {
        background-color: $primary-dark;
      }
    }
  }
  .about-text {
    text-align: center;
  }
  hr {
    border: solid red;
    margin-top: 2rem;
    width: 40vw;
    margin-left: 30vw;
  }
}
.work-content {
  @extend .width-height;
  text-align: center;
  background-color: $primary;
  padding-top: 2rem;
  box-sizing: border-box;
}
.work {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding-top: 2rem;
  background-color: $primary;
  div {
    h3 {
      padding-top: 2rem;
    }
    hr {
      margin-bottom: 2rem;
      margin: 1rem 0rem 2rem 70px;
      width: 70%;
      border: solid $primary-hover;
    }
    text-align: center;
    margin-left: 2rem;

    img {
      transition: all 0.2s;
      width: 80%;
      height: 40vh;
      border: solid $primary 1px;
      border-left-color: $primary-dark;
      border-radius: 5%;

      &:hover {
        transform: scale(1.1);
      }
    }

    a {
      display: inline-block;
      text-decoration: none;
      color: $dark;
      font-weight: 900;
      padding: 0.5rem;
      background-color: $white;
      border: solid red 0px;
      border-radius: 10%;
      margin-top: 1rem;

      &:hover {
        background-color: $primary-hover;
      }
    }
  }
}

.contact {
  @extend .width-height;
  background-color: $dark;
  h2 {
    padding-top: 2rem;
    color: $white;
    text-align: center;
  }
  .gmail {
    img {
      cursor: pointer;
      width: 5rem;
      margin-left: 50%;
      margin-top: 4rem;
      transform: translate(-50%, -50%);
    }

    h3 {
      visibility: hidden;
      text-align: center;
      color: $white;
    }
  }

  .contact-details {
    padding: 2rem 0rem;

    ul {
      margin-top: 2rem;
      display: flex;
      justify-content: space-around;
      li {
        list-style-type: none;
      }

      img {
        cursor: pointer;
        transition: all 0.2s;
        width: 5rem;

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }
}
//footer
footer {
  display: flex;
  justify-content: space-between;
  background-color: $primary-hover;
  padding: 2rem;
  height: 5rem;

  span {
    font-size: large;
    font-weight: bold;
  }
}
